<h1>Create a new Food for your Fridge</h1>

<%= form_for @food do |f| %>

	<%= f.label :name %>
	<%= f.text_field :name %>
	<%= f.label :food_type %>
	<%= f.text_field :food_type %>
	<%= f.label :expiration %>
	<%= f.date_field :expiration %>
	<%= f.label :quality %>
	<%= f.text_field :quality %>

	<%= f.submit 'Create Food' %>

<% end %>